@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSansBold.ttf);
	font-weight: 500
}

@font-face {
	font-family: 'Open Sans Italic';
	src: url(../fonts/OpenSansItalic.ttf);
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSansExtraBold.ttf);
	font-weight: 900;
}

@font-face {
	font-family: 'Open Sans Extra Bold Italic';
	src: url(../fonts/OpenSansBoldItalic.ttf);
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSansLight.ttf);
	font-weight: 100
}

@font-face {
	font-family: 'Open Sans Light Italic';
	src: url(../fonts/OpenSansLightItalic.ttf);
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSansRegular.ttf);
	font-weight: 300
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSansSemiBold.ttf);
	font-weight: 700
}

@font-face {
	font-family: 'Open Sans Semi Bold Italic';
	src: url(../fonts/OpenSansSemiBoldItalic.ttf);
	font-weight: 100
}

@font-face {
	font-family: 'Roboto Thin';
	src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/RobotoCondensed-Bold.ttf);
	font-weight: 500
}

@font-face {
	font-family: 'Roboto Condensed Bold Italic';
	src: url(../fonts/RobotoCondensed-BoldLight.ttf);
}

@font-face {
	font-family: 'Roboto Condensed Italic';
	src: url(../fonts/RobotoCondensed-Italic.ttf);
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/RobotoCondensed-Light.ttf);
	font-weight: 100
}

@font-face {
	font-family: 'Roboto Condensed Light Italic';
	src: url(../fonts/RobotoCondensed-LightItalic.ttf);
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/RobotoCondensed-Regular.ttf);
	font-weight: 300
}
