@media (max-width: 992px) {

	.js #menu-top-menu {
			display:none;
		}
		
	.js .slicknav_menu {
		display:block;
	}

	#top-nav {
		position: absolute;
		top: 9px;
		right: 20px;
		transition: .2s;
		.slicknav_menu {
			position: relative;
			.slicknav_btn {
				color: $white;
				display: block;
				margin-bottom: 10px;
			}
			ul {
				padding: 0;
				background: $bad-red;
				li {
					list-style: none;
					text-align: left;
					a {
						background: $bad-red;
						text-decoration: none;
						padding: 5px 10px;
						color: $white;
						width: 100%;
						display: block;
					}
				}
			}
		}
	}

	/* ___________________________headroom___________________________ */

	.headroom {
	    height: 40px;
	    text-align: center;
	}

	/* ___________________________ Header ___________________________ */

	header {
		.logo {
			width: 80px;
			height: 64px;
		}
		p {
			padding-top: 9px;
			img {
				width: 14px;
				height: 16px;
			}
		}
	}

	/* ___________________________ lang ___________________________ */

	.lang {
		ul {
			top: 9px;
		}
	}

	/* ___________________________ section slider ___________________________ */

	.slider {
		h1 {
			max-width: 600px;
			line-height: 34px;
			font: 22px "Roboto Condensed";
			font-weight: 500;
		}
		.bounce {
			bottom: 20px;
			margin-left: -20px;
			width: 40px;
			height: 40px;
		}
	}

	/* ___________________________ section category-products inner-page ___________________________ */

	.product-list {
		padding-top: 30px;
	}
	.product-item {
		.wrapper {
			h2 {
				font-size: 18px;
			}
			ul {
				padding: 10px 40px 0 40px;
				li {
					font-size: 12px;
				}
			}
		}
		.content {
			height: 90px;
		}
		.price {
			width: 140px;
			height: 140px;
			margin-top: -82px;
			p {
				font-size: 26px;
				line-height: 36px;
			}
		}
		.thumb img {
			padding: 10px;

		}
		.more {
			a {
				padding: 8px 0;
				font-size: 12px;
			}
		}
		.bron {
			a {
				padding: 8px 0;
				font-size: 12px;
			}
		}
	}

	/* ___________________________ section for-you inner-page ___________________________ */

	.for-you {
		height: 300px;
	}
	.vigoda-inner {
		padding: 20px 0 60px;

		h1 {
			margin-bottom: 40px;
			color: darken($red, 10%);
			margin-left: 40px;
			font-size: 18px;
		}
		p {
			font-size: 13px;
		}
		.price {
			margin-left: 40px;
			margin-bottom: 40px;
			p {
				font-size: 26px;
				line-height: 34px;
				font-weight: 900;
			}
		}
		button {
		}
		.img_gallery {
			.gallery-item {
				height: 100px;
			}
		}
		li {
			font-size: 14px;
		}
		.item {
		}
	}

	/* ___________________________ section triggers ___________________________ */

	.triggers {
		p {
			font-size: 12px;
		}
	}

	/* ___________________________ section vigoda ___________________________ */

	.vigoda {
		h2 {
			margin-top: 40px;
			font-size: 20px;
			margin-bottom: 40px;
		}
		a {
			padding: 5px 10px;
			font-size: 12px;
			margin-top: 30px;
			margin-bottom: 40px;
		}
		p {
			font-size: 12px;
		}
	}

	/* ___________________________ section about ___________________________ */

	.about {
		.about-item {
			height: calc(100vw / 3 - 100px);
		}
		h3 {
			padding: 5px 8px;
			font-size: 12px;
			font-weight: 300;
			font-size: 12px;
		}
	}

	/* ___________________________ section triggers-2 ___________________________ */

	.triggers-2 {
		padding: 30px 0 10px;
		img {
			margin-bottom: 20px;
		}
		p {
			font-size: 12px;
		}
		.more {
			p {
				margin-top: 30px;
				font-size: 14px;
			}
		}
	}


	/* ___________________________ section products ___________________________ */

	.products {
		padding: 30px 0;
		h2 {
			font-size: 18px;
			margin-bottom: 30px;
		}
		.one-product {
			margin-bottom: 30px;
			h3 {
				font-size: 14px;
			}
			.wrapper {
				.price {
					font-size: 26px;
					padding-top: 10px;
				}
				a {
					padding: 8px 14px;
					font-size: 14px;
				}
			}
		}
	}


	/* ___________________________ section photogallery ___________________________ */

	.photogallery {
		.col-md-4 {
			padding: 0;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	/* ___________________________ section responce ___________________________ */

	.responce {
		padding: 30px 0;
		blockquote {
			font-size: 12px;
		}
		a {
			font-size: 12px;
		}
	}


	/* ___________________________ section responce-inner ___________________________ */

	.responce-inner {
		.testimonial-inner {
			font-size: 12px;
		}
	}

	/* ___________________________ footer ___________________________ */

	footer {
		.footer-menu {
			ul {
				li {
					a {
						padding: 0 7px;
						font-size: 12px;
					}
				}
			}
		}
		button {
			padding: 7px 20px;
			margin-bottom: 25px;
			margin-top: 30px;
			font-size: 14px;
		}
		.triggers {
			img {
	    		width: 100%;
	    		height: auto;
			}
		}
		.contact {
			margin-top: 30px;
			img {
				width: 16px;
				top: -2px;
			}
			p {
				font-size: 14px;
			}
		}
		.copy {
			img {
				width: 12px;
			}
			p {
				font-size: 12px;
			}
			a {
				font-size: 12px;
			}
		}
		.like-h2 p {
			font-size: 22px;
		}
	}

	/* ___________________________ Modals ___________________________ */

	#yamaps {
	    height: 300px;
	    padding: 10px
	}

}